body{
    margin: 0 10%;
}

.meni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.meni a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}
p {
    color: #4786C5;
}
p1 {
    color: #4786C5;
    font-size: x-large;
    font-weight: bold;
}

.meni a:hover {
    color: white;
    background-color: darkgray;
}

/********************************************/

.obavijesti{
    display: flex;
    flex-direction: column;
}
.obavijest{
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% auto;
    border-radius: 25px;
    background-color: #DEE6EF;
    
}
.main-content{
    width: 100%;
    text-align: center;
}


.cancel{
    position: relative;
    top: -10%;
    right: -1%;
    width: 5%;
    margin-left: auto;
    border: 3px solid;
    border-color:  #3A6AA8;
    color: #3A6AA8;
    border-radius: 20%;
    background-color: lightblue;
    box-shadow: 0 0 0 3px white;
}
.cancel:hover{
    border-color: white;
    color: white;
}
.obavijest:hover{
    border: 3px solid #33679D;
}
.time{
    width: 15%;
    margin-left: auto
}
.time p{
    font-size: 1.2vw;
}


@media only screen and (max-width: 500px) {
    body{
        margin: 0;
    }
    .obavijest {
      width: 500px;
    }
}