.forma {
    text-align: center
    
}

form {
   
    line-height: 30px;
   margin-left: auto;
   margin-right: auto;
   
}

body {
    margin: 0 10%;
    text-align: center;
}

.inp {
    width: 400px;

}
body{
    margin: 0 10%;
}

.meni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.meni a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

.meni a:hover {
    color: white;
    background-color: darkgray;
}