table {
    border-collapse: collapse;
    width: 30vw;
    text-align: center;
    font-size: 20px;
  }
  
   tr:hover {
      border-collapse:collapse;
      border: 2px solid black;
  }
 
  body{
    margin: 0 10%;
}

.meni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.meni a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

.meni a:hover {
    color: white;
    background-color: darkgray;
}