body{
    margin: 0 10%;
}

.main{
    display: flex;
    flex-direction: column;
}

.top-row{
    display: flex;
    flex-direction: row;
    height: 5vw;
}

.logo{
    width: 12.5%;
    text-align: center;
}
.logo img{
    height: 100%;
}

.meni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 87.5%;

}
.meni a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

.meni a:hover {
    color: white;
    background-color: darkgray;
}

.mid-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
}

.predmeti {
    width: 25%;
}
.predmeti ul{
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.sedmice {
    width: 25%;
}
.sedmice ul{
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.studenti {
    width: 50%;
}
.footer {
    width: 100%;
    text-align: center;
    background-color: lightgray;
}
table {
    text-align: center;
}



@media only screen and (max-width: 600px) {
    .top-row {
      flex-direction: column;
      height: auto;
    }
    .logo{
        width: 100%;
    }
    .meni{
        width: 100%;
    }
    .predmeti{
        width: 50%;
    }
    .sedmice{
        width: 50%;
    }
    .studenti{
        width: 100%;
    }
  }
