#prvi {
    height: 100px;
    width: 35px;
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    
}
#drugi {
    height: 100px;
    width: 35px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: dashed;
    border-width: 1px;
    
}

#predmet {
    height: 100px;
    width: 35px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    background-color: lightsteelblue;
    font-weight: bolder;
    font-size: 20px;
}

.pos {
    height: 100px;
    width: 35px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 1px;

}
.pos1 {
    height: 100px;
    width: 35px;
    border-top-style: solid;
    border-right-style: dashed;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px 2px 1px 1px;
    background-color: lightsteelblue;
    font-weight: bolder;
    font-size: 20px;
}

.pos2 {
    height: 100px;
    width: 35px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: dashed;
    border-width: 1px 1px 1px 2px;
    background-color: lightsteelblue;
    font-weight: bolder;
    font-size: 20px;
}

#treci {
    height: 100px;
    width: 50px;
    background-color: white;
    text-align: right;
    padding-right: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.table {
    background-color: lightgray;
}

.vrijeme {
    background-color: white; 
}


body{
    margin: 0 10%;
}

.meni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.meni a {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

.meni a:hover {
    color: white;
    background-color: darkgray;
}

.trenutniCas{
    background-color: green !important;
    border: 2px solid black !important;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 5px 0px 15px 65px;
}
.btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn:active {
	position:relative;
	top:1px;
}

.nazivPredmeta {
    margin: 5px;
}
.tipVjezbi {
    margin: 5px;
}

.vrijeme {
    margin: 5px;
}

.dan {
    margin: 5px;
}

.hidden {
    color:white !important;
    background-color:white !important;
    border-color: black !important;
}